:root {
    --background-color: black;
    --white-color: white;
    --header-font: "Playfair Display", serif;
    --body-font: "Lato", sans-serif;
}

.container {
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

body {
    background-color: var(--background-color);
    color: var(--white-color);
    font-family: var(--body-font);
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    background-color: rgb(98, 188, 237);
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

h1 {
    font-family: var(--header-font);
}

.stripe {
    position: relative;
}

.stripe::after {
    position: absolute; 
    content: ""; 
    width: 100%; 
    height: 10px;
    right: 0;
    bottom: 10px; 
    background:  rgb(98, 188, 237);
    z-index: -1; 
}

nav ul {
    display: flex;
    justify-content: row;
    list-style: none;
}

nav ul li a {
    padding: 30px;
}

nav ul li a:focus {
    text-decoration: none;
}

ul > li:last-child {
    background-color: rgb(98, 188, 237);
    border-radius: 20px;
}

.galaxy {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 500px;
    margin-bottom: 20px;
}

.galaxy img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.milky-text {
    position: absolute;
    top: 350px;
    left: 40px;
    text-align: center;
}

#locals div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.venus button {
    background-color: rgb(98, 188, 237);
}

.earth button {
    background-color: rgb(98, 188, 237);
}

.btnLocals {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #6a0dad;
    border-radius: 20px;
    text-decoration: none;
    transition: background 0.3s;
}
  
.btnLocals:hover {
    background: #54bfed;
}

.btnLocals button {
    background-color: #c553c5;
    color: #ffffff;
    border: none;
    padding: 25px 35px;
    font-size: 1.5rem;
    margin-top: 20px;
    text-decoration: none;
}

.btnLocals:hover button {
    background-color: #51eaf2;
    color: #ffffff;
}



.galaxy img {
    width: 100%;
    height: 500px;
    animation: zoom 8s infinite ease-in-out alternate;
    display: block;
}

@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

.galaxy {
    border-radius: 10px;   
    overflow: hidden;
    box-shadow: 0 0 40px 40px rgb(235, 231, 162, 0.1);
}

.colorShift {
    background: linear-gradient(90deg, blue, rgb(0, 255, 255));
    background-size: 200% 100%; 
    background-position: 0% 0%; 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: textScroll 3s infinite alternate; 
    font-weight: 800;
}

@keyframes textScroll {
    from {
        background-position: 0% 0%; /* Starting position for background */
    }
    to {
        background-position: 100% 0%; /* ending position: background will scroll from one side to the other. */
    }
}

footer {
    margin-top: 30px;
    border-top: 1px solid white;
}

footer > p {
    padding: 10px;
}

@media screen and (min-width: 900px) {

    .container{
        width: 100%;
    }

    .headerContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .headerContainer > h1 {
        align-items: flex-start;
    }

    .headerContainer > nav {
        align-items: flex-end;
    }

    .galaxy { 
        height: 800px;
    }

    .milky-text {
        top: 400px;
        left: 40px;
        text-align: left;
    }

    #locals > div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
}

@media screen and (min-width: 1400px) {
    .headerContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    header > h1 {
        align-self: flex-start;
    }

    .container {
        width: 100%;
    }

    .milky-text {
        position: absolute;
        top: 350px;
        left: 40px;
        text-align: left;
        padding: 10px;
    }

    .planets div {
        display: grid;
        grid-template-columns: repeat (6, 1fr);
    }
}